body{
    background-color:rgb(104, 96, 226);
    margin: 0; 
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: rgb(224, 206, 209);
    height: 100px;
}

h1{
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    color: red;
    text-shadow: 5px 5px 5px white;
}

ul{
    padding: 0;
    margin: 0;
}

nav li{
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
}

nav li a {
    color: darkgreen;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor:pointer;
}

nav li a:hover{
    color:teal;
    text-decoration:underline;
    font-size: 22px;
}

main {
    width: 960px;
    margin: 30px auto;
    min-height: 700px;
}

#hero{
    width: 960px;
    height: 600px;
    border: 3px solid black;
    /* border-radius: 25px; */
}

#hero:hover{
    border-radius: 0px;
    border: 3px solid red;
}

main p{
    font-size: 20px;
    margin-top: 30px;
}

.lower {
    display: inline-block;
    max-width: 30%;
    margin: 10px;
    text-align: center;
}

.lower img {
    max-height: 200px;
    max-width: 100%;
}

.star{
    height: 100px;
    width: 100px;
}


footer{
    text-align:center;
    background-color: rgb(224, 206, 209);
    height: 100px;
}

footer p{
    padding-top: 50px;
}